altgraph
astroid
auto-py-to-exe
autopep8
bottle
bottle-websocket
cffi
click
colorama
cycler
Eel
Equation
Flask
future
gevent
gevent-websocket
greenlet
gunicorn
isort
itsdangerous
Jinja2
kiwisolver
lazy-object-proxy
MarkupSafe
matplotlib
mccabe
mpmath
numpy
pefile
pycodestyle
pycparser
PyInstaller
pylint
pyparsing
python-dateutil
pywin32-ctypes
scipy
six
sympy
typed-ast
Werkzeug
whichcraft
wrapt
zope.event
zope.interface
