{% extends "layout.html" %}
{% block content %}
<main>
	<div id="Web_1920___1">
		<form action="/BilinearInterpolation" method="post">
		<div class="spline-con">
			<div class="Linear">
				<div id="AnswerTab">
					<svg class="Rectangle_6">
						<rect fill="rgba(60,60,60,1)" id="Rectangle_6" rx="1.5vw" ry="1.5vw" x="0" y="0" width="8vw" height="4.56vw">
						</rect>
					</svg>
					</svg>
					<svg class="Path_3" viewBox="127.353 288 21.741 23.895">
						<path fill="rgba(60,60,60,1)" id="Path_3" d="M 149.094482421875 288 C 136.7897644042969 288.0395812988281 127.0997924804688 295.8175354003906 127.358024597168 308.8985900878906 C 127.6162490844727 321.9796142578125 127.358024597168 288 127.358024597168 288 L 149.094482421875 288 Z">
						</path>
					</svg>
					<div id="Brackets">
						<div class="GraphOptions-Polynomial">
							<div class="linesicon" id="LinesP">
								<svg class="SRICONB" width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="25.5" cy="25.5" r="25.5" fill="url(#paint0_radial)" />
									<defs>
										<radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(25.5 25.5) rotate(90) scale(25.5)">
											<stop stop-color="#151515" />
											<stop offset="1" stop-color="#1C1C1C" stop-opacity="0" />
										</radialGradient>
									</defs>
								</svg>
								<img class="SRICON" src="{{url_for('static', filename='HoverAnimations/SR/SR0071.png')}}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="MidTab">

			<svg class="Rectangle_8">
				<rect fill="rgba(60,60,60,1)" id="Rectangle_8" rx="1.5vw" ry="1.5vw" x="0" y="0" width="47.8vw" height="28.65vw">
				</rect>
			</svg>
			<section id="plot">
				<div id="myFunction" class="Rectangle_8_5"></div>
			</section>
			<div class="Con">
				<span>At (x, y) =&emsp;&emsp; <input type="text" class="Smalltxt" name="xinput" value="{{request.form['xinput']}}" /> , <input type="text" name="yinput" value="{{request.form['yinput']}}" class="Smalltxt" /> : &nbsp; z = <input type="text" class="Widetxt" value='{{Z}}' disabled /> Plane Eq: <input type="text" class="Widetxt" disabled value="{{plane[0]}}" /> x + <input type="text" class="Widetxt" value="{{plane[1]}}" disabled /> y + <input type="text" value="{{plane[2]}}" class="Widetxt" disabled /> z + <input type="text" value="{{plane[3]}}" class="Widetxt" disabled /> = 0 Z<span style="font-size: 1vw">x</span> = <input type="text" value={{-plane[0]/plane[2]}} class="Widetxt" disabled /> Z<span style="font-size: 1vw">y</span> = <input type="text" value={{-plane[1]/plane[2]}} class="Widetxt" disabled /></span>
			</div>
		</div>
		<div id="LeftTap">
			<svg class="Rectangle_3">
				<rect fill="rgba(60,60,60,1)" id="Rectangle_3" rx="1.5vw" ry="1.5vw" x="0" y="0" width="22.98vw" height="35.9vw">
				</rect>
			</svg>
			<svg class="Rectangle_2">
				<rect fill="rgba(60,60,60,1)" id="Rectangle_2" rx="1.5vw" ry="1.5vw" x="0" y="0" width="7.1vw" height="4.23vw">
				</rect>
			</svg>
			<svg class="Path_1" viewBox="127.353 288 21.742 20.791">
				<path fill="rgba(60,60,60,1)" id="Path_1" d="M 127.3529815673828 288 C 139.6577301025391 288.034423828125 149.3477172851563 294.8020629882813 149.0894622802734 306.1839294433594 C 148.8312377929688 317.5657653808594 149.0894622802734 288 149.0894622802734 288 L 127.3529815673828 288 Z">
				</path>
			</svg>
			<svg class="Path_2" viewBox="127.353 288 21.742 20.791">
				<path fill="rgba(60,60,60,1)" id="Path_2" d="M 149.0945129394531 288 C 136.7897644042969 288.034423828125 127.0997924804688 294.8020629882813 127.358024597168 306.1839294433594 C 127.6162490844727 317.5657653808594 127.358024597168 288 127.358024597168 288 L 149.0945129394531 288 Z">
				</path>
			</svg>
			<svg class="Rectangle_4">
				<rect fill="rgba(60,60,60,1)" id="Rectangle_4" rx="1.5vw" ry="1.5vw" x="0" y="0" width="3.84vw" height="21vw">
				</rect>
			</svg>
			<div id="System">
				<div class="GraphOptions">
					<img class="points" id="Points" src="{{url_for('static', filename='Assets/Points.svg')}}">
				</div>
			</div>
		</div>
		
			<div id="LeffTapCon">
				<svg class="Rectangle_18">
					<rect fill="rgba(40,40,40,1)" id="Rectangle_18" rx="1.55vw" ry="1.55vw" x="0" y="0" width="20.25vw" height="30.93vw">
					</rect>
				</svg>
				<div class="Rectangle_28">
					<div class="button-div">
						<button type="submit" class="table-button" id="calc">
							<img src="{{url_for('static', filename='Assets/Calc Button.svg')}}" title="Calculate">
						</button>
						<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
						<a class="table-button" href="#">
							<img src="{{url_for('static', filename='Assets/Vid.svg')}}" title="Page Instructions">
						</a>
						<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
						<button type="button" class="table-button" onclick="DownloadGuide()">
							<img src="{{url_for('static', filename='Assets/REF Button.svg')}}" title="Downlaod Guide">
						</button>
						<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
						<button type="button" class="table-button" id="save">
							<img src="{{url_for('static', filename='Assets/Save.svg')}}" title="Save Your Data">
						</button>
						<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
						<button type="button" class="table-button" id="load">
							<img src="{{url_for('static', filename='Assets/Load.svg')}}" title="Upload Your Data">
						</button>
						<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
						<button type="button" class="table-button" id="clear">
							<img src="{{url_for('static', filename='Assets/Clear.svg')}}" title="Clear Input Fields">
						</button>
					</div>
				</div>
				<div id="Table_">
					<span>Table:</span>
				</div>
				<div class="Rectangle_55">
					<table class="table">
						<thead>
							<tr>
								<th>x</th>
								<th>y</th>
								<th>z</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input name="x0" type="text" value="{{request.form['x0']}}" /></td>
								<td><input name="y0" type="text" value="{{request.form['y0']}}" /></td>
								<td><input name="z0" type="text" value="{{request.form['z0']}}" /></td>

							</tr>
							<tr>
								<td><input name="x1" type="text" value="{{request.form['x1']}}" /></td>
								<td><input name="y1" type="text" value="{{request.form['y1']}}" /></td>
								<td><input name="z1" type="text" value="{{request.form['z1']}}" /></td>

							</tr>
							<tr>
								<td><input name="x2" type="text" value="{{request.form['x2']}}" /></td>
								<td><input name="y2" type="text" value="{{request.form['y2']}}" /></td>
								<td><input name="z2" type="text" value="{{request.form['z2']}}" /></td>

							</tr>
							<tr>
								<td><input name="x3" type="text" value="{{request.form['x3']}}" /></td>
								<td><input name="y3" type="text" value="{{request.form['y3']}}" /></td>
								<td><input name="z3" type="text" value="{{request.form['z3']}}" /></td>

							</tr>
							<tr>
								<td><input name="x4" type="text" value="{{request.form['x4']}}" /></td>
								<td><input name="y4" type="text" value="{{request.form['y4']}}" /></td>
								<td><input name="z4" type="text" value="{{request.form['z4']}}" /></td>

							</tr>
							<tr>
								<td><input name="x5" type="text" value="{{request.form['x5']}}" /></td>
								<td><input name="y5" type="text" value="{{request.form['y5']}}" /></td>
								<td><input name="z5" type="text" value="{{request.form['z5']}}" /></td>

							</tr>
							<tr>
								<td><input name="x6" type="text" value="{{request.form['x6']}}" /></td>
								<td><input name="y6" type="text" value="{{request.form['y6']}}" /></td>
								<td><input name="z6" type="text" value="{{request.form['z6']}}" /></td>

							</tr>
							<tr>
								<td><input name="x7" type="text" value="{{request.form['x7']}}" /></td>
								<td><input name="y7" type="text" value="{{request.form['y7']}}" /></td>
								<td><input name="z7" type="text" value="{{request.form['z7']}}" /></td>

							</tr>
							<tr>
								<td><input name="x8" type="text" value="{{request.form['x8']}}" /></td>
								<td><input name="y8" type="text" value="{{request.form['y8']}}" /></td>
								<td><input name="z8" type="text" value="{{request.form['z8']}}" /></td>

							</tr>
							<tr>
								<td><input name="x9" type="text" value="{{request.form['x9']}}" /></td>
								<td><input name="y9" type="text" value="{{request.form['y9']}}" /></td>
								<td><input name="z9" type="text" value="{{request.form['z9']}}" /></td>

							</tr>
							<tr>
								<td><input name="x10" type="text" value="{{request.form['x10']}}" /></td>
								<td><input name="y10" type="text" value="{{request.form['y10']}}" /></td>
								<td><input name="z10" type="text" value="{{request.form['z10']}}" /></td>

							</tr>
							<tr>
								<td><input name="x11" type="text" value="{{request.form['x11']}}" /></td>
								<td><input name="y11" type="text" value="{{request.form['y11']}}" /></td>
								<td><input name="z11" type="text" value="{{request.form['z11']}}" /></td>

							</tr>
							<tr>
								<td><input name="x12" type="text" value="{{request.form['x12']}}" /></td>
								<td><input name="y12" type="text" value="{{request.form['y12']}}" /></td>
								<td><input name="z12" type="text" value="{{request.form['z12']}}" /></td>

							</tr>
							<tr>
								<td><input name="x13" type="text" value="{{request.form['x13']}}" /></td>
								<td><input name="y13" type="text" value="{{request.form['y13']}}" /></td>
								<td><input name="z13" type="text" value="{{request.form['z13']}}" /></td>

							</tr>
							<tr>
							<tr>
								<td><input name="x14" type="text" value="{{request.form['x14']}}" /></td>
								<td><input name="y14" type="text" value="{{request.form['y14']}}" /></td>
								<td><input name="z14" type="text" value="{{request.form['z14']}}" /></td>

							</tr>
							<tr>
								<td><input name="x15" type="text" value="{{request.form['x15']}}" /></td>
								<td><input name="y15" type="text" value="{{request.form['y15']}}" /></td>
								<td><input name="z15" type="text" value="{{request.form['z15']}}" /></td>

							</tr>
							<tr>
								<td><input name="x16" type="text" value="{{request.form['x16']}}" /></td>
								<td><input name="y16" type="text" value="{{request.form['y16']}}" /></td>
								<td><input name="z16" type="text" value="{{request.form['z16']}}" /></td>

							</tr>
							<tr>
								<td><input name="x17" type="text" value="{{request.form['x17']}}" /></td>
								<td><input name="y17" type="text" value="{{request.form['y17']}}" /></td>
								<td><input name="z17" type="text" value="{{request.form['z17']}}" /></td>

							</tr>
							<tr>
								<td><input name="x18" type="text" value="{{request.form['x18']}}" /></td>
								<td><input name="y18" type="text" value="{{request.form['y18']}}" /></td>
								<td><input name="z18" type="text" value="{{request.form['z18']}}" /></td>

							</tr>
							<tr>
								<td><input name="x19" type="text" value="{{request.form['x19']}}" /></td>
								<td><input name="y19" type="text" value="{{request.form['y19']}}" /></td>
								<td><input name="z19" type="text" value="{{request.form['z19']}}" /></td>

							</tr>
							<tr>
								<td><input name="x20" type="text" value="{{request.form['x20']}}" /></td>
								<td><input name="y20" type="text" value="{{request.form['y20']}}" /></td>
								<td><input name="z20" type="text" value="{{request.form['z20']}}" /></td>

							</tr>
							<tr>
								<td><input name="x21" type="text" value="{{request.form['x21']}}" /></td>
								<td><input name="y21" type="text" value="{{request.form['y21']}}" /></td>
								<td><input name="z21" type="text" value="{{request.form['z21']}}" /></td>

							</tr>
							<tr>
								<td><input name="x22" type="text" value="{{request.form['x22']}}" /></td>
								<td><input name="y22" type="text" value="{{request.form['y22']}}" /></td>
								<td><input name="z22" type="text" value="{{request.form['z22']}}" /></td>

							</tr>
							<tr>
								<td><input name="x23" type="text" value="{{request.form['x23']}}" /></td>
								<td><input name="y23" type="text" value="{{request.form['y23']}}" /></td>
								<td><input name="z23" type="text" value="{{request.form['z23']}}" /></td>

							</tr>
							<tr>
								<td><input name="x24" type="text" value="{{request.form['x24']}}" /></td>
								<td><input name="y24" type="text" value="{{request.form['y24']}}" /></td>
								<td><input name="z24" type="text" value="{{request.form['z24']}}" /></td>

							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td><input type="text"  /></td>
								<td><input type="text"  /></td>
								<td><input type="text"  /></td>

							</tr>
						</tfoot>
					</table>


				</div>
			</div>
		</form>

	</div>

	<script>
			var z1 = [[1, 2, 1, 10, 3], [1, 4, 3, 1, 2], [8, 4, 5, 1, 2]];
			var x1 = [2, 4, 6, 8, 10];
			var y1 = [3, 6, 9];

				{% if x1 and y1 and z1 %}
			  z1 = {{z1|tojson}};
			  x1 = {{x1|tojson}};
			  y1 = {{y1|tojson}};
				{% endif %}

			var data_z1 = { z: z1, x: x1, y: y1, type: 'surface', colorscale: 'Lava', };
			var layout = {
			  scene: { camera: { eye: { x: 1.8, y: 1.8, z: 1.5 } } },
			  width: window.innerWidth / 100 * 31.5,
			  height: window.innerWidth / 100 * 26,
			  margin: {
			    l: 0,
			    r: 0,
			    b: 0,
			    t: window.innerWidth / 100 * 1.94
			  }
			};

			Plotly.newPlot('myFunction', [data_z1], layout);

	</script>
</main>

<!-- <script src="{{url_for('static', filename='js/BI.js')}}" charset="utf-8"></script> --!>
{% endblock content %}
