{% extends "layout.html" %}
{% block content %}

<main>
	<div id="Web_1920___1">
		<div id="SE">
			<div id="EP" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78" rx="1.75vw" ry="1.75vw" x="0" y="0" width="19.5vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="EPA">
					<svg class="Ellipse_4_m">
						<radialGradient id="Ellipse_4_m" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_m)" id="Ellipse_4_m" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="EP0000" src="{{url_for('static', filename='HoverAnimations/EP/EP0000.png')}}">
				</div>
				<div id="Eigenvalue__Problem">
					<span>Eigenvalue <br />Problem</span>
				</div>
				<div id="__Mohamed_Salama_">
					<span>• Mohamed Salama </span>
				</div>
				<div id="__Ahmed_Waleed">
					<span>• Ahmed Waleed</span>
				</div>
				<div id="__Andrew_Boshra">
					<span>• Andrew Boshra</span>
				</div>
				<div id="__Bishoy_Atef">
					<span>• Bishoy Atef</span>
				</div>
				<div id="__Robert_Mounir">
					<span>• Robert Mounir</span>
				</div>
			</div>
			<div id="NS_" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_v">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_v" rx="1.75vw" ry="1.75vw" x="0" y="0" width="21.4vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_w">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_w" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="NS_A">
					<svg class="Ellipse_4_z">
						<radialGradient id="Ellipse_4_z" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_z)" id="Ellipse_4_z" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="NS_0000" src="{{url_for('static', filename='HoverAnimations/NS/NS0000.png')}}">
				</div>
				<div id="Nonlinear_Systems_Fixed_Point">
					<span>Nonlinear Systems<br />Fixed-Point</span>
				</div>
				<div id="__Hazem_Mahmoud_Abdo_">
					<span>• Hazem Mahmoud Abdo </span>
				</div>
				<div id="__Ahmed_Khaled_Mahmoud">
					<span>• Ahmed Khaled Mahmoud</span>
				</div>
				<div id="__Ahmed_Mahmoud_Hafez">
					<span>• Ahmed Mahmoud Hafez</span>
				</div>
			</div>
			<div id="NS" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_" rx="1.75vw" ry="1.75vw" x="0" y="0" width="19.34vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="NSA">
					<svg class="Ellipse_4_ba">
						<radialGradient id="Ellipse_4_ba" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_ba)" id="Ellipse_4_ba" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="NS0000" src="{{url_for('static', filename='HoverAnimations/NS/NS0000.png')}}">
				</div>
				<div id="Nonlinear_Systems_Newton_Raphs">
					<span>Nonlinear Systems<br />Newton-Raphson</span>
				</div>
				<div id="__Mariam_Ashraf_Malak">
					<span>• Mariam Ashraf Malak</span>
				</div>
				<div id="__Hazem_Khaled_Kasim">
					<span>• Hazem Khaled Kasim</span>
				</div>
				<div id="__Nour_El_Din_Mostafa">
					<span>• Nour El Din Mostafa</span>
				</div>
				<div id="__Mostafa_Ahmed_Sabra">
					<span>• Mostafa Ahmed Sabra</span>
				</div>
			</div>
			<div id="LS" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_bi">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_bi" rx="1.75vw" ry="1.75vw" x="0" y="0" width="21.4vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_bj">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_bj" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="LSA">
					<svg class="Ellipse_4_bm">
						<radialGradient id="Ellipse_4_bm" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_bm)" id="Ellipse_4_bm" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="LS0000" src="{{url_for('static', filename='HoverAnimations/LS/LS0000.png')}}">
				</div>
				<div id="Linear_Systems">
					<span>Linear Systems</span>
				</div>
				<div id="__Mostafa_Mohamed_El_Gendy_">
					<span>• Mostafa Mohamed El-Gendy </span>
				</div>
				<div id="__Mostafa_Wael_Kamal">
					<span>• Mostafa Wael Kamal</span>
				</div>
				<div id="__Taher_Mohamed_Ahmed_">
					<span>• Taher Mohamed Ahmed </span>
				</div>
			</div>
		</div>
		<div id="DE">
			<div id="PDE_" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_bu">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_bu" rx="1.75vw" ry="1.75vw" x="0" y="0" width="28.6vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_bv">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_bv" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="PDE___Irregular_Boundaries_">
					<span>PDE - Irregular Boundaries </span>
				</div>
				<div id="__Yahia_Zakaria_Mohamed">
					<span>• Yahia Zakaria Mohamed</span>
				</div>
				<div id="__We_am_Bassem_Hosny">
					<span>• We'am Bassem Hosny</span>
				</div>
				<div id="__Yousef_Gamal_Reda">
					<span>• Yousef Gamal Reda</span>
				</div>
				<div id="__Yousef_Ahmed_Anwar">
					<span>• Yousef Ahmed Anwar</span>
				</div>
				<div id="__Ahmed_Ihab_Yousry">
					<span>• Ahmed Ihab Yousry</span>
				</div>
				<div id="PDE_A">
					<svg class="Ellipse_4_ca">
						<radialGradient id="Ellipse_4_ca" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_ca)" id="Ellipse_4_ca" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="PDE_0000" src="{{url_for('static', filename='HoverAnimations/PDE/PDE0000.png')}}">
				</div>
			</div>
			<div id="PDE" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_b">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_b" rx="1.75vw" ry="1.75vw" x="0" y="0" width="26vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_b">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_b" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="PDEA">
					<svg class="Ellipse_4_cc">
						<radialGradient id="Ellipse_4_cc" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_cc)" id="Ellipse_4_cc" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="PDE0000" src="{{url_for('static', filename='HoverAnimations/PDE/PDE0000.png')}}">
				</div>
				<div id="PDE___Regular_Boundaries_">
					<span>PDE - Regular Boundaries </span>
				</div>
				<div id="__Ahmed_Mahmoud_El_Ghareeb_">
					<span>• Ahmed Mahmoud El-Ghareeb </span>
				</div>
				<div id="__Mostafa_Ahmed_Sobhy_">
					<span>• Mostafa Ahmed Sobhy </span>
				</div>
				<div id="__Michael_Aziz_Fahim">
					<span>• Michael Aziz Fahim</span>
				</div>
				<div id="__Ahmed_Mohamed_Abdelhamed_">
					<span>• Ahmed Mohamed Abdelhamed </span>
				</div>
				<div id="__Ghieath_Omar_Saleh">
					<span>• Ghieath Omar Saleh</span>
				</div>
			</div>
			<div id="ODEPC_" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_ck">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_ck" rx="1.75vw" ry="1.75vw" x="0" y="0" width="27.2vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_cl">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_cl" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="ODEPC_A">
					<svg class="Ellipse_4_co">
						<radialGradient id="Ellipse_4_co" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_co)" id="Ellipse_4_co" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="ODEPC_0000" src="{{url_for('static', filename='HoverAnimations/ODEPC/ODEPC0000.png')}}">
				</div>
				<div id="ODE___Adam_s_Backward">
					<span>ODE - Adam’s Backward</span>
				</div>
				<div id="__Iten_Emad_El_Din_Saleh">
					<span>• Iten Emad El-Din Saleh</span>
				</div>
				<div id="__Donia_AbdElfatah__">
					<span>• Donia AbdElfatah  </span>
				</div>
				<div id="__Radwa_Ahmed_Mohamed">
					<span>• Radwa Ahmed Mohamed</span>
				</div>
			</div>
			<div id="ODEPC" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_cv">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_cv" rx="1.75vw" ry="1.75vw" x="0" y="0" width="28.6vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_cw">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_cw" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="ODEPCA">
					<svg class="Ellipse_4_cz">
						<radialGradient id="Ellipse_4_cz" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_cz)" id="Ellipse_4_cz" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="ODEPC0000" src="{{url_for('static', filename='HoverAnimations/ODEPC/ODEPC0000.png')}}">
				</div>
				<div id="ODE___Milne_s_Method">
					<span>ODE - Milne’s Method</span>
				</div>
				<div id="__Hussein_Mostafa_Hussein">
					<span>• Hussein Mostafa Hussein</span>
				</div>
				<div id="__Ayman_Mohamed_Reda">
					<span>• Ayman Mohamed Reda</span>
				</div>
				<div id="__Mina_Emad_Fakhry">
					<span>• Mina Emad Fakhry</span>
				</div>
				<div id="__Ahmed_Mahmoud_Mohamed">
					<span>• Ahmed Mahmoud Mohamed</span>
				</div>
				<div id="__Mahmoud_Elsayed_Mahmoud">
					<span>• Mahmoud Elsayed Mahmoud</span>
				</div>
			</div>
			<div id="ODERK" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_c">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_c" rx="1.75vw" ry="1.75vw" x="0" y="0" width="26vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_c">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_c" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="Brackets">
					<svg class="Ellipse_4_dc">
						<radialGradient id="Ellipse_4_dc" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_dc)" id="Ellipse_4_dc" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="ODERK0000" src="{{url_for('static', filename='HoverAnimations/ODERK/ODERK0000.png')}}">
				</div>
				<div id="ODE___Runge_Kutta_">
					<span>ODE - Runge-Kutta </span>
				</div>
				<div id="__Gaser_Ashraf_Fayez">
					<span>• Gaser Ashraf Fayez</span>
				</div>
				<div id="__Yousef_Mostafa_Elmahdy">
					<span>• Yousef Mostafa Elmahdy</span>
				</div>
				<div id="__Yousef_Atef_Abdo">
					<span>• Yousef Atef Abdo</span>
				</div>
				<div id="__Ahmed_Hamdy_Mohamed">
					<span>• Ahmed Hamdy Mohamed</span>
				</div>
				<div id="__Ahmed_Mohamed_Ibrahim">
					<span>• Ahmed Mohamed Ibrahim</span>
				</div>
			</div>
			<div id="ODEI" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_dl">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_dl" rx="1.75vw" ry="1.75vw" x="0" y="0" width="27.2vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_dm">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_dm" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="ODEIA">
					<svg class="Ellipse_4_dp">
						<radialGradient id="Ellipse_4_dp" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_dp)" id="Ellipse_4_dp" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="ODEI0000" src="{{url_for('static', filename='HoverAnimations/ODEI/ODEI0000.png')}}">
				</div>
				<div id="ODE___Euler___Heun_s_">
					<span>ODE - Euler & Heun's </span>
				</div>
				<div id="__Esraa_Gamal_Saad">
					<span>• Esraa Gamal Saad</span>
				</div>
				<div id="__Esraa_Amr_Mohamed">
					<span>• Esraa Amr Mohamed</span>
				</div>
				<div id="__Basssant_Abd_Elaziem_Mohamed">
					<span>• Basssant Abd Elaziem Mohamed</span>
				</div>
				<div id="__Rawaa_Ahmed_Said_">
					<span>• Rawaa Ahmed Said </span>
				</div>
				<div id="__Menna_Allah_Ahmed">
					<span>• Menna Allah Ahmed</span>
				</div>
			</div>
		</div>
		<div id="NC">
			<div id="GQI" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_dz">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_dz" rx="1.75vw" ry="1.75vw" x="0" y="0" width="19.5vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_d">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_d" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="GQIA">
					<svg class="Ellipse_4_ea">
						<radialGradient id="Ellipse_4_ea" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_ea)" id="Ellipse_4_ea" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="GQI0000" src="{{url_for('static', filename='HoverAnimations/GQI/GQI0000.png')}}">
				</div>
				<div id="Gauss__Quadrature_Int_">
					<span>Gauss <br />Quadrature Int.</span>
				</div>
				<div id="__Ahmed_Said_Abdallah">
					<span>• Ahmed Said Abdallah</span>
				</div>
				<div id="__Ahmed_Emad_Eldin">
					<span>• Ahmed Emad Eldin</span>
				</div>
				<div id="__Ziad_Atef_Ahmed">
					<span>• Ziad Atef Ahmed</span>
				</div>
				<div id="__Omar_Mohamed_Ahmed">
					<span>• Omar Mohamed Ahmed</span>
				</div>
				<div id="__Mohamed_Saad_Fathy">
					<span>• Mohamed Saad Fathy</span>
				</div>
			</div>
			<div id="RI" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_ec">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_ec" rx="1.75vw" ry="1.75vw" x="0" y="0" width="21.4vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_ed">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_ed" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="RIA">
					<svg class="Ellipse_4_eg">
						<radialGradient id="Ellipse_4_eg" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_eg)" id="Ellipse_4_eg" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="RI0000" src="{{url_for('static', filename='HoverAnimations/RI/RI0000.png')}}">
				</div>
				<div id="Romberg_Int_">
					<span>Romberg Int.</span>
				</div>
				<div id="__Mohamed_Khaled_Mohamed">
					<span>• Mohamed Khaled Mohamed</span>
				</div>
				<div id="__Nada_El_Sayed_Mohamed">
					<span>• Nada El-Sayed Mohamed</span>
				</div>
				<div id="__Raghad_Khaled_Abdel_Hay">
					<span>• Raghad Khaled Abdel-Hay</span>
				</div>
				<div id="__Reem_Emad_Ramadan">
					<span>• Reem Emad Ramadan</span>
				</div>
				<div id="__Kareem_Taha_Abdel_Sabour">
					<span>• Kareem Taha Abdel-Sabour</span>
				</div>
			</div>
			<div id="NCI" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_ep">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_ep" rx="1.75vw" ry="1.75vw" x="0" y="0" width="19.34vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_eq">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_eq" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="NCIA">
					<svg class="Ellipse_4_et">
						<radialGradient id="Ellipse_4_et" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_et)" id="Ellipse_4_et" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="NCI0000" src="{{url_for('static', filename='HoverAnimations/NCI/NCI0000.png')}}">
				</div>
				<div id="Newton_Cotes_Int_">
					<span>Newton-Cotes Int.</span>
				</div>
				<div id="__Marim_Naser_Rashad_">
					<span>• Marim Naser Rashad </span>
				</div>
				<div id="__Mariem_Muhammed">
					<span>• Mariem Muhammed</span>
				</div>
				<div id="__Abeer_Hussien_Mohamed">
					<span>• Abeer Hussien Mohamed</span>
				</div>
				<div id="__Mohamed_Ahmed_Fathy">
					<span>• Mohamed Ahmed Fathy</span>
				</div>
			</div>
			<div id="DFD" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_e">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_e" rx="1.75vw" ry="1.75vw" x="0" y="0" width="21.4vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_e">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_e" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="DFDA">
					<svg class="Ellipse_4_fa">
						<radialGradient id="Ellipse_4_fa" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_fa)" id="Ellipse_4_fa" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="DFD0000" src="{{url_for('static', filename='HoverAnimations/DFD/DFD0000.png')}}">
				</div>
				<div id="Differentiation">
					<span>Differentiation</span>
				</div>
				<div id="__Ahmed_Jamal_Abdelsamie">
					<span>• Ahmed Jamal Abdelsamie</span>
				</div>
				<div id="__Abdelrahman_Jamal_Sayed">
					<span>• Abdelrahman Jamal Sayed</span>
				</div>
				<div id="__Tarek_Yasser_Ismaiel_">
					<span>• Tarek Yasser Ismaiel</span><br>
				</div>
				<div id="__Nadeen_Ayman_Mesbah">
					<span>• Nadeen Ayman Mesbah</span>
				</div>
				<div id="__Maryem_Salah_Metwaly">
					<span>• Maryem Salah Metwaly</span>
				</div>
			</div>
		</div>
		<div id="CF">
			<div id="BI" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_ffBI">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_ffBI" rx="1.75vw" ry="1.75vw" x="0" y="0" width="56.3vw" height="8.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_fgBI">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_fgBI" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="BIA">
					<svg class="Ellipse_4_fj">
						<radialGradient id="Ellipse_4_fjBI" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_fjBI)" id="Ellipse_4_fjBI" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="BI0000" src="{{url_for('static', filename='HoverAnimations/BI/BI0000.png')}}">
				</div>
				<div id="Bilinear__Interpolation">
					<span>Bilinear Interpolation</span>
				</div>
				<div id="__Hossam_Muhammed_Saeed_B">
					<span>• Hossam Muhammed Saeed </span>
				</div>
				<div id="__Yousef_Gamal_Reda_gB">
					<span>• Yousef Gamal Reda</span>
				</div>
				<div id="__Yahia_Zakaria_Mohamed_gB">
					<span>• Yahia Zakaria Mohamed</span>
				</div>
			</div>
			<div id="SI" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_ff">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_ff" rx="1.75vw" ry="1.75vw" x="0" y="0" width="25.3vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_fg">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_fg" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="SIA">
					<svg class="Ellipse_4_fj">
						<radialGradient id="Ellipse_4_fj" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_fj)" id="Ellipse_4_fj" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="SI0000" src="{{url_for('static', filename='HoverAnimations/SI/SI0000.png')}}">
				</div>
				<div id="Spline___Bezier__Interpolation">
					<span>Spline & Bezier<br /> Interpolation</span>
				</div>
				<div id="__Hossam_Muhammed_Saeed_">
					<span>• Hossam Muhammed Saeed </span>
				</div>
				<div id="__Ziyad_Hassan_Abdelmaqsoud">
					<span>• Ziyad Hassan Abdelmaqsoud</span>
				</div>
				<div id="__Abdullah_Adel_Abdullah">
					<span>• Abdullah Adel Abdullah</span>
				</div>
				<div id="__Ahmed_Mohamed_Ibrahim_fp">
					<span>• Ahmed Mohamed Ibrahim</span>
				</div>
				<div id="__Yousef_Ahmed_Anwar_fq">
					<span>• Yousef Ahmed Anwar</span>
				</div>
			</div>
			<div id="SR" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_fs">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_fs" rx="1.75vw" ry="1.75vw" x="0" y="0" width="28.2vw" height="23.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_ft">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_ft" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="SRA">
					<svg class="Ellipse_4_fw">
						<radialGradient id="Ellipse_4_fw" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_fw)" id="Ellipse_4_fw" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="SR0000" src="{{url_for('static', filename='HoverAnimations/SR/SR0000.png')}}">
				</div>
				<div id="Curve_Fitting">
					<span>Curve Fitting</span>
				</div>
				<div id="__Essam_Wisam_Fouads">
					<span>• Essam Wisam Fouad</span>
				</div>
				<div id="__Hala_Hamdy_Abdelhady">
					<span>• Hala Hamdy Abdelhady</span>
				</div>
				<div id="__Noran_Hany_Mohamed">
					<span>• Noran Hany Mohamed</span>
				</div>
				<div id="__Mohamed_Ayman_Mostafa">
					<span>• Mohamed Ayman Mostafa</span>
				</div>
				<div id="__Mohammad_Nabawe_HGamed">
					<span>• Mohammad Nabawe </span><span style="color:rgba(123,123,123,1); text-decoration:line-through">H</span><span>Gamed</span>
				</div>
			</div>
			<div id="PI" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_f">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_f" rx="1.75vw" ry="1.75vw" x="0" y="0" width="29.75vw" height="33.9vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_f">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_f" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="PIA">
					<svg class="Ellipse_4_ga">
						<radialGradient id="Ellipse_4_ga" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_ga)" id="Ellipse_4_ga" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="PI0000" src="{{url_for('static', filename='HoverAnimations/PI/PI0000.png')}}">
				</div>
				<div id="Polynomial_Interpolation">
					<span>Lagrange & <br/> Newton Interpolation</span>
				</div>
				<div id="__Mohamed_Akram_Abdelfattah">
					<span>• Mohamed Akram Abdelfattah</span>
				</div>
				<div id="__Omar_Ahmed_Mohamed">
					<span>• Omar Ahmed Mohamed</span>
				</div>
				<div id="__Ammar_Mohamed_Sobhi">
					<span>• Ammar Mohamed Sobhi</span>
				</div>
				<div id="__Ahmed_Ayman_Ahmed">
					<span>• Ahmed Ayman Ahmed</span>
				</div>
				<div id="__Youssef_Atef_Tawfik">
					<span>• Youssef Atef Tawfik</span>
				</div>
			</div>
		</div>
		<div id="GR">
			<div id="I" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_gj">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_gj" rx="1.75vw" ry="1.75vw" x="0" y="0" width="65.6vw" height="19.7vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_gk">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_gk" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="IA">
					<svg class="Ellipse_4_gn">
						<radialGradient id="Ellipse_4_gn" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_gn)" id="Ellipse_4_gn" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="I0000" src="{{url_for('static', filename='HoverAnimations/I/I0000.png')}}">
				</div>
				<div id="Interface_Design___Integration">
					<span>Interface Design & Integration</span>
				</div>
				<div id="__Abdullah_Adel_Abdullah_gq">
					<span>• Abdullah Adel Abdullah</span>
				</div>
				<div id="__Peter_Michael_Azmy">
					<span>• Peter Michael Azmy</span>
				</div>
				<div id="__Omar_Muhammed_Yacine">
					<span>• Omer Muhammed Yacine</span>
				</div>
				<div id="__Hossam_Muhammad_Saeed_">
					<span>• Hossam Muhammad Saeed </span>
				</div>
				<div id="__Mostafa_Magdy_Abdel_Rahman_">
					<span>• Mostafa Magdy Abdel-Rahman </span>
				</div>
				<div id="__Osama_Magdy_Aied">
					<span>• Osama Magdy Aied</span>
				</div>
				<div id="__Ziyad_Hassan_Abdelmaqsoud_gx">
					<span>• Ziyad Hassan Abdelmaqsoud</span>
				</div>

				<div id="__Mostafa_Mohamed_El_Gendy__gz">
					<span>• Mostafa Mohamed El-Gendy </span>
				</div>
				<div id="__Mostafa_Mahmoud_Kamal">
					<span>• Mostafa Mahmoud Kamal</span>
				</div>
				<div id="__Mostafa_Wael_Kamal_g">
					<span>• Mostafa Wael Kamal</span>
				</div>
				<div id="__Menna_Allah_Ahmed_Ali__gz">
					<span>• Menna-Allah Ahmed Ali</span>
				</div>
				<div id="__Essam_Wisam_Fouad_">
					<span>• Essam Wisam Fouad </span>
				</div>
				<div id="__Yahia_Zakaria_Mohamed_g">
					<span>• Yahia Zakaria Mohamed</span>
				</div>
				<div id="__Yousef_Gamal_Reda_g">
					<span>• Yousef Gamal Reda</span>
				</div>
				<div id="__Taher_Mohamed_Ahmed__g">
					<span>• Taher Mohamed Ahmed </span>
				</div>
				<div id="__Ziad_Atef_Ahmed_g">
					<span>• Ziad Atef Ahmed</span>
				</div>
			</div>
			<div id="TS" onmouseenter="ForwardAnimation(this)" onmouseleave="BackwardAnimation(this)">
				<svg class="Rectangle_78_g">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_78_g" rx="1.75vw" ry="1.75vw" x="0" y="0" width="20.4vw" height="19.7vw">
					</rect>
				</svg>
				<svg class="Rectangle_77_g">
					<rect fill="rgba(63,63,63,1)" id="Rectangle_77_g" rx="1.5vw" ry="1.5vw" x="0" y="0" width="5.34vw" height="5.08vw">
					</rect>
				</svg>
				<div id="TSA">
					<svg class="Ellipse_4_ha">
						<radialGradient id="Ellipse_4_ha" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_ha)" id="Ellipse_4_ha" rx="1.43vw" ry="1.52vw" cx="1.43vw" cy="1.52vw">
						</ellipse>
					</svg>
					<img id="TS0000" src="{{url_for('static', filename='HoverAnimations/TS/TS0000.png')}}">
				</div>
				<div id="Supervised_by_">
					<span>Supervised by:</span>
				</div>
				<div id="__Dr__Amani_El_Gammal">
					<span>• Dr. Amani El-Gammal</span>
				</div>
				<div id="__Eng__Sroor_El_Gendy">
					<span>• Eng. Sroor El-Gendy</span>
				</div>
			</div>
		</div>
		<div id="Created_by_CMP_2023_">
			<span>Created by CMP-2023 </span>
		</div>
		<svg class="Line_1" viewBox="0 0 238 1">
			<path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_1" d="M 0 0 L 238 0">
			</path>
		</svg>
		<svg class="Line_2" viewBox="0 0 238 1">
			<path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_2" d="M 0 0 L 238 0">
			</path>
		</svg>
	</div>
</main>
<script src="{{url_for('static', filename='js/Credits.js')}}" charset="utf-8"></script>
{% endblock content %}
