{% extends "layout.html" %}
{% block content %}

	<main>
		<div id="Web_1920___1">

			<div id="LeftTap">
				<svg class="Rectangle_3">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_3" rx="1.5vw" ry="1.5vw" x="0" y="0" width="23vw" height="35.3vw">
					</rect>
				</svg>
				<svg class="Rectangle_2">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_2" rx="1.5vw" ry="1.5vw" x="0" y="0" width="7.1vw" height="4.23vw">
					</rect>
				</svg>
				<svg class="Path_1" viewBox="127.353 288 21.742 20.791">
					<path fill="rgba(60,60,60,1)" id="Path_1" d="M 127.3529815673828 288 C 139.6577301025391 288.034423828125 149.3477172851563 294.8020629882813 149.0894622802734 306.1839294433594 C 148.8312377929688 317.5657653808594 149.0894622802734 288 149.0894622802734 288 L 127.3529815673828 288 Z">
					</path>
				</svg>
				<svg class="Path_2" viewBox="127.353 288 21.742 20.791">
					<path fill="rgba(60,60,60,1)" id="Path_2" d="M 149.0945129394531 288 C 136.7897644042969 288.034423828125 127.0997924804688 294.8020629882813 127.358024597168 306.1839294433594 C 127.6162490844727 317.5657653808594 127.358024597168 288 127.358024597168 288 L 149.0945129394531 288 Z">
					</path>
				</svg>
				<svg class="Rectangle_4">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_4" rx="1.5vw" ry="1.5vw" x="0" y="0" width="3.83vw" height="21vw">
					</rect>
				</svg>
				<div id="System">
					<svg class="Ellipse_3_o">
						<radialGradient id="Ellipse_3_o" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#151515" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1c1c1c" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_3_o)" id="Ellipse_3_o" rx="1.7vw" ry="1.8vw" cx="1.7vw" cy="1.8vw">
						</ellipse>
					</svg>
					<img id="NCI0071" src="{{url_for('static', filename='HoverAnimations/NCI/NCI0071.png')}}">
				</div>
			</div>
			<div id="LeffTapCon">
				<form action="{{url_for('Integration')}}" method="POST">
					<div class="Rectangle_28">

						<div class="button-div">
							<button type="submit" class="table-button" id="calc">
								<img src="{{url_for('static', filename='Assets/Int Button.svg')}}">
							</button>
							<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
							<a class="table-button" href="#">
								<img src="{{url_for('static', filename='Assets/Vid.svg')}}">
							</a>
							<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
							<button type="button" class="table-button" onclick="DownloadGuide()">
								<img src="{{url_for('static', filename='Assets/REF Button.svg')}}" title="Downlaod Guide">
							</button>
							<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
							<button type="button" class="table-button" id="save">
								<img src="{{url_for('static', filename='Assets/Save.svg')}}">
							</button>
							<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
							<button type="button" class="table-button" id="load">
								<img src="{{url_for('static', filename='Assets/Load.svg')}}">
							</button>
							<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
							<button type="button" class="table-button" id="clear">
								<img src="{{url_for('static', filename='Assets/Clear.svg')}}">
							</button>
						</div>
					</div>

					<div id="__Linear_Integration">
						<input type="radio" id="1" name="Dim" value="1" onchange="DimInput()"  {% if Dim == "1" %}checked{% endif %}><label for="1"><span>∫ Single Integration</span></label>
					</div>
					<div id="___Double_Integration">
						<input type="radio" id="2" name="Dim" value="2" onchange="DimInput()"  {% if Dim == "2" %}checked{% endif %}><label for="2"><span>∫∫ Double Integration</span></label>
					</div>
					<div id="____Triple_Integration_">
						<input type="radio" id="3" name="Dim" value="3" onchange="DimInput()" {% if Dim == "3" %}checked{% endif %}><label for="3"><span>∫∫∫ Triple Integration</span></label>
					</div>
					<input type="text" class="Rectangle_43" name="func" style="text-align: left" value="{{function}}" onfocusout="addtograph()" />
					<div id="f_x__y__z___">
						<span>f(x, y, z) =</span>
					</div>
					<div id="Xi__">
						<span>Xi =</span>
					</div>
					<input type="text" class="Rectangle_59" name="x2" value="{{x2}}" onfocusout="addtograph()" />
					<input type="text" class="Rectangle_60" name="x1" value="{{x1}}"onfocusout="addtograph()" />
					<input type="text" class="Rectangle_61" name="n1" value="{{n1}}"/>
					<div id="Xf__">
						<span>Xf =</span>
					</div>
					<div id="N_in_the_X_direction__">
						<span>N in the X-direction =</span>
					</div>
					<div id="Yi__">
						<span>Yi =</span>
					</div>
					<input type="text" class="Rectangle_62" name="y2" value="{{y2}}"/>
					<input type="text" class="Rectangle_63" name="y1" value="{{y1}}"/>
					<input type="text" class="Rectangle_64" name="n2" value="{{n2}}"/>


					<div id="Yf__">
						<span>Yf =</span>
					</div>

					<div id="N_in_the_Y_direction__">
						<span>N in the Y-direction =</span>
					</div>

					<div id="Zi__">
						<span>Zi =</span>
					</div>

					<input type="text" class="Rectangle_65" name="z2" value="{{z2}}" />
					<input type="text" class="Rectangle_66" name="z1" value="{{z1}}"/>
					<input type="text" class="Rectangle_67" name="n3" value="{{n3}}"/>

					<div id="Zf__">
						<span>Zf =</span>
					</div>

					<div id="N_in_the_Z_direction__">
						<span>N in the Z-direction =</span>
					</div>

					<input type="text" class="Rectangle_77" name="OrderOfError" value="{{OrderOfError}}" />

					<div id="O_h___h_to_the_power____">
						<span>O[h] (</span><span style="font-size:1.17vw;color:rgba(151,151,151,1);">Romberg - h^?:</span><span>) =</span>
					</div>
				</form>
			</div>
			<div id="ExactTab">
				<svg class="Rectangle_8">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_8" rx="1.5vw" ry="1.5vw" x="0" y="0" width="21.5vw" height="4.5vw">
					</rect>
				</svg>
				<div id="I___Ex">
					<span>I<span style="font-size:1vw"> Exact</span> = </span>
				</div>
				<input type="text" class="Rectangle_8-51" value="{{exact}}" disabled />

			</div>
			<div id="MidTab">
				<svg class="Rectangle_8">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_8" rx="1.5vw" ry="1.5vw" x="0" y="0" width="21.5vw" height="21.75vw">
					</rect>
				</svg>
				<svg class="Rectangle_8-5">
					<rect fill="#282828" id="Rectangle_8.5" rx="0.8vw" ry="0.8vw" x="0" y="0" width="18.5vw" height="18.65vw">
					</rect>
				</svg>
				<section id="plot">
					<div id="myFunction" class="Rectangle_8"></div>
				</section>
			</div>
			<div id="NCITab">
				<svg class="Rectangle_6">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_6" rx="1.5vw" ry="1.5vw" x="0" y="0" width="7.16vw" height="4.56vw">
					</rect>
				</svg>
				<svg class="Rectangle_7">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_7" rx="1.5vw" ry="1.5vw" x="0" y="0" width="26vw" height="9vw">
					</rect>
				</svg>
				<svg class="Path_3" viewBox="127.353 288 21.741 23.895">
					<path fill="rgba(60,60,60,1)" id="Path_3" d="M 149.094482421875 288 C 136.7897644042969 288.0395812988281 127.0997924804688 295.8175354003906 127.358024597168 308.8985900878906 C 127.6162490844727 321.9796142578125 127.358024597168 288 127.358024597168 288 L 149.094482421875 288 Z">
					</path>
				</svg>
				<div id="Brackets">
					<svg class="Ellipse_4_bp">
						<radialGradient id="Ellipse_4_bp" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_bp)" id="Ellipse_4_bp" rx="1.45vw" ry="1.5vw" cx="1.45vw" cy="1.5vw">
						</ellipse>
					</svg>
					<img id="NCI0049" src="{{url_for('static', filename='HoverAnimations/NCI/NCI0049.png')}}">
				</div>
			</div>
			<div id="RI">
				<div id="I___">
					<span>I<span style="font-size:1.1vw"> trap</span> = </span>
				</div>
				<div id="I___E">
					<span>Error =</span>
				</div>
				<input type="text" class="Rectangle_32"  value="{{ResultTrap}}" disabled />
				<input type="text" class="Rectangle_46"  value="{{ResultMin}}"  disabled />
				<input type="text" class="Rectangle_32E" value="{{TrapError}}"  disabled />
				<input type="text" class="Rectangle_46E" value="{{ErrorMin}}"   disabled />

				<div id="Error__">
					<span>I<span style="font-size:1.1vw"> minEr</span> = </span>
				</div>
				<div id="Error__E">
					<span>Error =</span>
				</div>
				<div id="Newton_Cotes_">
					<span>Newton Cotes:</span>
				</div>
			</div>
			<div id="RITab">
				<svg class="Rectangle_6_by">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_6_by" rx="1.5vw" ry="1.5vw" x="0" y="0" width="7.16vw" height="4.56vw">
					</rect>
				</svg>
				<svg class="Rectangle_7_bz">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_7_bz" rx="1.5vw" ry="1.5vw" x="0" y="0" width="26vw" height="4.56vw">
					</rect>
				</svg>
				<div id="Brackets_b">
					<svg class="Ellipse_4_ca">
						<radialGradient id="Ellipse_4_ca" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_ca)" id="Ellipse_4_ca" rx="1.45vw" ry="1.5vw" cx="1.45vw" cy="1.5vw">
						</ellipse>
					</svg>
					<svg class="Rectangle_68">
						<rect fill="rgba(255,28,109,1)" id="Rectangle_68" rx="0" ry="0" x="0" y="0" width="0.5vw" height="0.5vw">
						</rect>
					</svg>
					<svg class="Rectangle_69">
						<rect fill="rgba(255,28,109,1)" id="Rectangle_69" rx="0" ry="0" x="0" y="0" width="0.5vw" height="0.5vw">
						</rect>
					</svg>
					<svg class="Rectangle_70">
						<rect fill="rgba(255,28,109,1)" id="Rectangle_70" rx="0" ry="0" x="0" y="0" width="0.5vw" height="0.5vw">
						</rect>
					</svg>
					<svg class="Rectangle_71">
						<rect fill="rgba(255,28,109,1)" id="Rectangle_71" rx="0" ry="0" x="0" y="0" width="0.5vw" height="0.5vw">
						</rect>
					</svg>
					<svg class="Rectangle_72">
						<rect fill="rgba(255,28,127,1)" id="Rectangle_72" rx="0" ry="0" x="0" y="0" width="0.75vw" height="0.75vw">
						</rect>
					</svg>
					<svg class="Rectangle_73">
						<rect fill="rgba(255,28,127,1)" id="Rectangle_73" rx="0" ry="0" x="0" y="0" width="0.75vw" height="0.75vw">
						</rect>
					</svg>
					<svg class="Rectangle_76">
						<rect fill="rgba(255,112,228,1)" id="Rectangle_76" rx="0" ry="0" x="0" y="0" width="1vw" height="1vw">
						</rect>
					</svg>
				</div>
			</div>
			<div id="GQI">
				{% if ResultRom %}
				<input type="text" class="Rectangle_32_cb" value="{{ResultRom}}" disabled />
				{% else %}
				<input type="text" class="Rectangle_32_cb" disabled />
				{% endif %}
				<div id="I____cc">
					<span>I = </span>
				</div>
				<div id="Romberg_">
					<span>Romberg:</span>
				</div>
			</div>
			<div id="GQITab">
				<svg class="Rectangle_6_cf">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_6_cf" rx="1.5vw" ry="1.5vw" x="0" y="0" width="7.16vw" height="4.56vw">
					</rect>
				</svg>
				<svg class="Rectangle_7_cg">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_7_cg" rx="1.5vw" ry="1.5vw" x="0" y="0" width="26vw" height="4.56vw">
					</rect>
				</svg>
				<div id="Brackets_ch">
					<svg class="Ellipse_4_cj">
						<radialGradient id="Ellipse_4_cj" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_cj)" id="Ellipse_4_cj" rx="1.45vw" ry="1.5vw" cx="1.45vw" cy="1.5vw">
						</ellipse>
					</svg>
					<img id="GQI0038" src="{{url_for('static', filename='HoverAnimations/GQI/GQI0038.png')}}">
				</div>
			</div>
			<div id="NCI">
				<input type="text" class="Rectangle_32_cm" value="{{Result}}" disabled />
				<input type="text" class="Rectangle_36_cm" value="{{error}}"  disabled />

				<div id="I____cn">
					<span>I = </span>
					<div id="Error__EG">
						<span>Error =</span>
					</div>
				</div>
				<div id="Gauss_Quadrature_">
					<span>Gauss Quadrature:</span>
				</div>
			</div>

		</div>

	</main>
	<script src="{{url_for('static', filename='js/Integration.js')}}" charset="utf-8"></script>
{% endblock content %}