{% extends "layout.html" %}
{% block content %}
<main>

	<div id="Web_1920___1">
		<form>
			<div id="MidTab">
				<svg class="Rectangle_8">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_8" rx="1.5vw" ry="1.5vw" x="0" y="0" width="22.9vw" height="8.46vw">
					</rect>
				</svg>
				<svg class="Rectangle_56">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_56" rx="1.5vw" ry="1.5vw" x="0" y="0" width="7.36vw" height="4.56vw">
					</rect>
				</svg>
				<svg class="Path_3" viewBox="0 0 21.742 23.895">
					<path fill="rgba(60,60,60,1)" id="Path_3" d="M 21.74149322509766 0 C 9.436775207519531 0.039581298828125 -0.2531967163085938 7.817535400390625 0.005035400390625 20.89859008789063 C 0.2632598876953125 33.9796142578125 0.005035400390625 0 0.005035400390625 0 L 21.74149322509766 0 Z">
					</path>
				</svg>
				<div id="Group_1">
					<svg class="Ellipse_5_n">
						<radialGradient id="Ellipse_5_n" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#151515" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1c1c1c" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_5_n)" id="Ellipse_5_n" rx="1.7vw" ry="1.7vw" cx="1.7vw" cy="1.8vw">
						</ellipse>
					</svg>
					<div id="U__x_y_">
						<span>U</span>
						<br />

						<span style="font-size:1.8vw; ">(</span><span style="font-size:1.8vw;color:rgba(255,0,0,1);">x</span><span style="font-size:1.8vw;">, </span><span style="font-size:1.8vw;color:rgba(255,0,0,1);">y</span><span style="font-size:1.8vw;">)</span>
					</div>
					<div id="out">

						<span>at: X = <input name="x_cordinates" type="text" class="Rectangle_x" value="{{request.form['x_cordinates']}}" /> &nbsp; Y = <input type="text" name="y_cordinates" value="{{request.form['y_cordinates']}}" id="Y" class="Rectangle_x" /></span>
						<br />
						<span>U = <label id="res">
							{% if U != 'erorr' %}
							{%print(U)%}
							{% endif %}
						</label></span>

					</div>
				</div>
			</div>

			<div id="LeftTap">
				<svg class="Rectangle_3">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_3" rx="1.5vw" ry="1.5vw" x="0" y="0" width="22.98vw" height="35.9vw">
					</rect>
				</svg>
				<svg class="Rectangle_expand">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_3" rx="1.5vw" ry="1.5vw" x="0" y="0" width="53vw" height="15.8vw">
					</rect>
				</svg>
				<svg class="Rectangle_2">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_2" rx="1.5vw" ry="1.5vw" x="0" y="0" width="7.1vw" height="4.23vw">
					</rect>
				</svg>
				<svg class="Path_1" viewBox="127.353 288 21.742 20.791">
					<path fill="rgba(60,60,60,1)" id="Path_1" d="M 127.3529815673828 288 C 139.6577301025391 288.034423828125 149.3477172851563 294.8020629882813 149.0894622802734 306.1839294433594 C 148.8312377929688 317.5657653808594 149.0894622802734 288 149.0894622802734 288 L 127.3529815673828 288 Z">
					</path>
				</svg>
				<svg class="Path_2" viewBox="127.353 288 21.742 20.791">
					<path fill="rgba(60,60,60,1)" id="Path_2" d="M 149.0945129394531 288 C 136.7897644042969 288.034423828125 127.0997924804688 294.8020629882813 127.358024597168 306.1839294433594 C 127.6162490844727 317.5657653808594 127.358024597168 288 127.358024597168 288 L 149.0945129394531 288 Z">
					</path>
				</svg>
				<svg class="Rectangle_4">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_4" rx="1.5vw" ry="1.5vw" x="0" y="0" width="3.84vw" height="21vw">
					</rect>
				</svg>
				<div id="System">
					<div id="System">
						<svg class="Ellipse_3_r">
							<radialGradient id="Ellipse_3_r" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
								<stop offset="0" stop-color="#151515" stop-opacity="1"></stop>
								<stop offset="1" stop-color="#1c1c1c" stop-opacity="0"></stop>
							</radialGradient>
							<ellipse fill="url(#Ellipse_3_r)" id="Ellipse_3_r" rx="1.6vw" ry="1.7vw" cx="1.6vw" cy="1.7vw">
							</ellipse>
						</svg>
						<svg class="Polygon_23" viewBox="2.845 2.887 26.917 31.081">
							<path fill="transparent" stroke="rgba(255,109,28,1)" stroke-width="0.4vw" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Polygon_23" d="M 2.844559907913208 10.65699577331543 L 16.30296897888184 2.886750221252441 L 29.7613353729248 10.65699577331543 L 29.7613353729248 26.1973819732666 L 16.30296897888184 33.96767807006836 L 2.844559907913208 26.1973819732666 L 2.844559907913208 10.65699577331543 Z">
							</path>
						</svg>
					</div>

				</div>
			</div>

			<div id="LeffTapCon">

				<svg class="Rectangle_18">
					<rect fill="rgba(40,40,40,1)" id="Rectangle_18" rx="1.55vw" ry="1.55vw" x="0" y="0" width="50.65vw" height="13.6vw">
					</rect>
				</svg>

				<div class="Rectangle_28">

					<div class="button-div">
						<button class="table-button" type="submit" id="calc">
							<img src="{{url_for('static', filename='Assets/Calc Button.svg')}}">
						</button>
						<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
						<a class="table-button" href="#">
							<img src="{{url_for('static', filename='Assets/Vid.svg')}}">
						</a>
						<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
						<button type="button" class="table-button" onclick="DownloadGuide()">
							<img src="{{url_for('static', filename='Assets/REF Button.svg')}}" title="Downlaod Guide">
						</button>
						<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
						<button type="button" class="table-button" id="save">
							<img src="{{url_for('static', filename='Assets/Save.svg')}}">
						</button>
						<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
						<button type="button" class="table-button" id="load">
							<img src="{{url_for('static', filename='Assets/Load.svg')}}">
						</button>
						<img class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
						<button type="button" class="table-button" id="clear">
							<img src="{{url_for('static', filename='Assets/Clear.svg')}}">
						</button>
					</div>
				</div>


				<div id="Type">
					<div id="Reg">
						<input type="radio" id="Regular" name="Method" value="Regular" onchange="MethodSelection()"
						{% if Method == "Regular" %}
						checked
						{% endif %}
						><label for="Regular"><span>Regular</span></label>
					</div>
					&emsp;&emsp;
					<div id="Irreg">
						<input type="radio" id="Irregular" name="Method" value="Irregular" onchange="MethodSelection()"
						{% if Method == "Irregular" %}
						checked
						{% endif %}
						><label for="Irregular"><span>Irregular</span></label>
					</div>
				</div>

				<div id="Linearized_">
					<span>X-step = <input type="text" name="h_step" value="{{request.form['h_step']}}" class="Rectangle_step" /> &nbsp; Y-step = <input type="text" name="k_step" value="{{request.form['k_step']}}" class="Rectangle_step" /></span>
				</div>

				<div class="Rectangle_19">
					<div id="table">




						<input type="text" name="dxx" value="{{request.form['dxx']}}" class="Rectangle_44" /> <span class="inChars">Uxx +</span>


						<input type="text" name="dyy" value="{{request.form['dyy']}}" class="Rectangle_44" /> <span class="inChars">Uyy +</span>

						<br />

						<input type="text" name="dxy" value="{{request.form['dxy']}}" id="UXY1" class="Rectangle_44" />  <span id="UXY2" class="inChars">Uxy + </span>
						<input type="text" name="dx" value="{{request.form['dx']}}" class="Rectangle_44" />  <span class="inChars">Ux + </span>



						<input type="text" name="dy" value="{{request.form['dy']}}" class="Rectangle_44" /> <span class="inChars">Uy + </span>




						<input type="text" name="U_Coeff" value="{{request.form['U_Coeff']}}" class="Rectangle_44" /> <span class="inChars">U = </span>

						<input type="text" name="Function" value="{{request.form['Function']}}" class="Rectangle_44wide" />

					</div>
				</div>


				<div id="Table_">

				</div>
				<div class="Rectangle_55">
					<table class="table">
						<thead>
							<tr>

								<th>Boundry Eq: f(x,y) = 0 =</th>
								<th>Xi</th>
								<th>Xf</th>
								<th>Yi</th>
								<th>Yf</th>
								<th>U(x,y)=</th>
								<th id="Dir0">Direction</th>
							</tr>
						</thead>
						<tbody>
							<tr>

								<td class="wide-slot"><input name="function0" value="{{request.form['function0']}}" type="text" /></td>
								<td><input name="xi0" value="{{request.form['xi0']}}" type="text" /></td>
								<td><input name="xf0" value="{{request.form['xf0']}}" type="text" /></td>
								<td><input name="yi0" value="{{request.form['yi0']}}" type="text" /></td>
								<td><input name="yf0" value="{{request.form['yf0']}}" type="text" /></td>
								<td class="wide-slot"><input name="u0" value="{{request.form['u0']}}" type="text" /></td>
								<td value="UP" type="text" id="Dir1">UP</td>

							</tr>
							<tr>

								<td class="wide-slot"><input name="function1" value="{{request.form['function1']}}" type="text" /></td>
								<td><input name="xi1" value="{{request.form['xi1']}}" type="text" /></td>
								<td><input name="xf1" value="{{request.form['xf1']}}" type="text" /></td>
								<td><input name="yi1" value="{{request.form['yi1']}}" type="text" /></td>
								<td><input name="yf1" value="{{request.form['yf1']}}" type="text" /></td>
								<td class="wide-slot"><input name="u1" value="{{request.form['u1']}}" type="text" /></td>
								<td value="Left" type="text" id="Dir2">Left</td>

							</tr>
							<tr>

								<td class="wide-slot"><input name="function2" value="{{request.form['function2']}}" type="text" /></td>
								<td><input name="xi2" value="{{request.form['xi2']}}" type="text" /></td>
								<td><input name="xf2" value="{{request.form['xf2']}}" type="text" /></td>
								<td><input name="yi2" value="{{request.form['yi2']}}" type="text" /></td>
								<td><input name="yf2" value="{{request.form['yf2']}}" type="text" /></td>
								<td class="wide-slot"><input name="u2" value="{{request.form['u2']}}" type="text" /></td>
								<td value="Right" type="text" id="Dir3">Right</td>

							</tr>
							<tr>

								<td class="wide-slot"><input name="function3" value="{{request.form['function3']}}" type="text" /></td>
								<td><input name="xi3" value="{{request.form['xi3']}}" type="text" /></td>
								<td><input name="xf3" value="{{request.form['xf3']}}" type="text" /></td>
								<td><input name="yi3" value="{{request.form['yi3']}}" type="text" /></td>
								<td><input name="yf3" value="{{request.form['yf3']}}" type="text" /></td>
								<td class="wide-slot"><input name="u3" value="{{request.form['u3']}}" type="text" /></td>
								<td value="UP" id="Dir4" type="text">Down</td>

							</tr>
							<tr>
								<td class="wide-slot"><input name="function4" value="{{request.form['function4']}}" type="text" /></td>
								<td><input name="xi4" value="{{request.form['xi4']}}" type="text" /></td>
								<td><input name="xf4" value="{{request.form['xf4']}}" type="text" /></td>
								<td><input name="yi4" value="{{request.form['yi4']}}" type="text" /></td>
								<td><input name="yf4" value="{{request.form['yf4']}}" type="text" /></td>
								<td class="wide-slot"><input name="u4" value="{{request.form['u4']}}" type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input name="function5" value="{{request.form['function5']}}" type="text" /></td>
								<td><input name="xi5" value="{{request.form['xi5']}}" type="text" /></td>
								<td><input name="xf5" value="{{request.form['xf5']}}" type="text" /></td>
								<td><input name="yi5" value="{{request.form['yi5']}}" type="text" /></td>
								<td><input name="yf5" value="{{request.form['yf5']}}" type="text" /></td>
								<td class="wide-slot"><input name="u5" value="{{request.form['u5']}}" type="text" /></td>
							</tr>
							<tr>
								<td class="wide-slot"><input name="function6" value="{{request.form['function6']}}" type="text" /></td>
								<td><input name="xi6" value="{{request.form['xi6']}}" type="text" /></td>
								<td><input name="xf6" value="{{request.form['xf6']}}" type="text" /></td>
								<td><input name="yi6" value="{{request.form['yi6']}}" type="text" /></td>
								<td><input name="yf6" value="{{request.form['yf6']}}" type="text" /></td>
								<td class="wide-slot"><input name="u6" value="{{request.form['u6']}}" type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input name="function7" value="{{request.form['function7']}}" type="text" /></td>
								<td><input name="xi7" value="{{request.form['xi7']}}" type="text" /></td>
								<td><input name="xf7" value="{{request.form['xf7']}}" type="text" /></td>
								<td><input name="yi7" value="{{request.form['yi7']}}" type="text" /></td>
								<td><input name="yf7" value="{{request.form['yf7']}}" type="text" /></td>
								<td class="wide-slot"><input name="u7" value="{{request.form['u7']}}" type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input name="function8" value="{{request.form['function8']}}" type="text" /></td>
								<td><input name="xi8" value="{{request.form['xi8']}}" type="text" /></td>
								<td><input name="xf8" value="{{request.form['xf8']}}" type="text" /></td>
								<td><input name="yi8" value="{{request.form['yi8']}}" type="text" /></td>
								<td><input name="yf8" value="{{request.form['yf8']}}" type="text" /></td>
								<td class="wide-slot"><input name="u8" value="{{request.form['u8']}}" type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input name="function9" value="{{request.form['function9']}}" type="text" /></td>
								<td><input name="xi9" value="{{request.form['xi9']}}" type="text" /></td>
								<td><input name="xf9" value="{{request.form['xf9']}}" type="text" /></td>
								<td><input name="yi9" value="{{request.form['yi9']}}" type="text" /></td>
								<td><input name="yf9" value="{{request.form['yf9']}}" type="text" /></td>
								<td class="wide-slot"><input name="u9" value="{{request.form['u9']}}" type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input name="function10" value="{{request.form['function10']}}" type="text" /></td>
								<td><input name="xi10" value="{{request.form['xi10']}}" type="text" /></td>
								<td><input name="xf10" value="{{request.form['xf10']}}" type="text" /></td>
								<td><input name="yi10" value="{{request.form['yi10']}}" type="text" /></td>
								<td><input name="yf10" value="{{request.form['yf10']}}" type="text" /></td>
								<td class="wide-slot"><input name="u10" value="{{request.form['u10']}}" type="text" /></td>

							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td class="wide-slot"><input name="function11" value="{{request.form['function11']}}" type="text" /></td>
								<td><input name="xi11" value="{{request.form['xi11']}}" type="text" /></td>
								<td><input name="xf11" value="{{request.form['xf11']}}" type="text" /></td>
								<td><input name="yi11" value="{{request.form['yi11']}}" type="text" /></td>
								<td><input name="yf11" value="{{request.form['yf11']}}" type="text" /></td>
								<td class="wide-slot"><input name="u11" value="{{request.form['u11']}}" type="text" /></td>

							</tr>
						</tfoot>
					</table>


				</div>
			</div>
			<div id="AnswerTab">
				<svg class="Rectangle_6">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_6" rx="1.5vw" ry="1.5vw" x="0" y="0" width="7.1vw" height="4.56vw">
					</rect>
				</svg>
				<svg class="Rectangle_7">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_7" rx="1.5vw" ry="1.5vw" x="0" y="0" width="26vw" height="35.5vw">
					</rect>
				</svg>
				<div id="Brackets">
					<svg class="Ellipse_4_bj">
						<radialGradient id="Ellipse_4_bj" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_bj)" id="Ellipse_4_bj" rx="22.097700119018555" ry="23.29680061340332" cx="22.097700119018555" cy="23.29680061340332">
						</ellipse>
					</svg>
					<img id="PDE0045" src="{{url_for('static', filename='Assets/PDE0045.png')}}">
				</div>
				<svg class="Path_9" viewBox="127.353 288 21.741 23.895">
					<path fill="rgba(60,60,60,1)" id="Path_9" d="M 149.094482421875 288 C 136.7897644042969 288.0395812988281 127.0997924804688 295.8175354003906 127.358024597168 308.8985900878906 C 127.6162490844727 321.9796142578125 127.358024597168 288 127.358024597168 288 L 149.094482421875 288 Z">
					</path>
				</svg>
				<svg class="Rectangle_57">
					<rect fill="rgba(40,40,40,1)" id="Rectangle_57" rx="1.5vw" ry="1.5vw" x="0" y="0" width="23.63vw" height="16.21vw">
					</rect>
				</svg>
				<svg class="Rectangle_58">
					<rect fill="rgba(40,40,40,1)" id="Rectangle_58" rx="1.5vw" ry="1.5vw" x="0" y="0" width="23.63vw" height="15.5vw">
					</rect>
				</svg>

				<section id="plot">
					<div id="myFunction" class="Rectangle_8"></div>
				</section>

			</div>

		</form>
	</div>
</main>

<script src="{{url_for('static', filename='js/PDE.js')}}" charset="utf-8"></script>
{% endblock content %}
