{% extends "layout.html" %}
{% block content %}
	<main>
		<div id="Web_1920___1">
			<div id="MidTab">
				<svg class="Rectangle_8">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_8" rx="1.5vw" ry="1.5vw" x="0" y="0" width="22.9vw" height="8.46vw">
					</rect>
				</svg>
				<svg class="Rectangle_56">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_56" rx="1.5vw" ry="1.5vw" x="0" y="0" width="7.36vw" height="4.56vw">
					</rect>
				</svg>
				<svg class="Path_3" viewBox="0 0 21.742 23.895">
					<path fill="rgba(60,60,60,1)" id="Path_3" d="M 21.74149322509766 0 C 9.436775207519531 0.039581298828125 -0.2531967163085938 7.817535400390625 0.005035400390625 20.89859008789063 C 0.2632598876953125 33.9796142578125 0.005035400390625 0 0.005035400390625 0 L 21.74149322509766 0 Z">
					</path>
				</svg>
				<div id="Group_1">
					<svg class="Ellipse_5_n">
						<radialGradient id="Ellipse_5_n" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#151515" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1c1c1c" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_5_n)" id="Ellipse_5_n" rx="1.7vw" ry="1.7vw" cx="1.7vw" cy="1.8vw">
						</ellipse>
					</svg>
					<div id="U__x_y_">
						<span>U</span>
						<br />

						<span style="font-size:1.8vw; ">(</span><span style="font-size:1.8vw;color:rgba(255,0,0,1);">x</span><span style="font-size:1.8vw;">, </span><span style="font-size:1.8vw;color:rgba(255,0,0,1);">y</span><span style="font-size:1.8vw;">)</span>
					</div>
					<div id="out">

						<span>at: X = <input type="text" class="Rectangle_x" /> &nbsp; Y = <input type="text" class="Rectangle_x" /></span>
						<br />
						<span>U = <input type="text" class="Rectangle_U" /></span>

					</div>
				</div>
			</div>

			<div id="LeftTap">
				<svg class="Rectangle_3">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_3" rx="1.5vw" ry="1.5vw" x="0" y="0" width="22.98vw" height="35.9vw">
					</rect>
				</svg>
				<svg class="Rectangle_expand">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_3" rx="1.5vw" ry="1.5vw" x="0" y="0" width="53vw" height="21vw">
					</rect>
				</svg>
				<svg class="Rectangle_2">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_2" rx="1.5vw" ry="1.5vw" x="0" y="0" width="7.1vw" height="4.23vw">
					</rect>
				</svg>
				<svg class="Path_1" viewBox="127.353 288 21.742 20.791">
					<path fill="rgba(60,60,60,1)" id="Path_1" d="M 127.3529815673828 288 C 139.6577301025391 288.034423828125 149.3477172851563 294.8020629882813 149.0894622802734 306.1839294433594 C 148.8312377929688 317.5657653808594 149.0894622802734 288 149.0894622802734 288 L 127.3529815673828 288 Z">
					</path>
				</svg>
				<svg class="Path_2" viewBox="127.353 288 21.742 20.791">
					<path fill="rgba(60,60,60,1)" id="Path_2" d="M 149.0945129394531 288 C 136.7897644042969 288.034423828125 127.0997924804688 294.8020629882813 127.358024597168 306.1839294433594 C 127.6162490844727 317.5657653808594 127.358024597168 288 127.358024597168 288 L 149.0945129394531 288 Z">
					</path>
				</svg>
				<svg class="Rectangle_4">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_4" rx="1.5vw" ry="1.5vw" x="0" y="0" width="3.84vw" height="15.03vw">
					</rect>
				</svg>
				<div id="System">
					<div id="System">
						<svg class="Ellipse_3_r">
							<radialGradient id="Ellipse_3_r" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
								<stop offset="0" stop-color="#151515" stop-opacity="1"></stop>
								<stop offset="1" stop-color="#1c1c1c" stop-opacity="0"></stop>
							</radialGradient>
							<ellipse fill="url(#Ellipse_3_r)" id="Ellipse_3_r" rx="1.6vw" ry="1.7vw" cx="1.6vw" cy="1.7vw">
							</ellipse>
						</svg>
						<svg class="Polygon_23" viewBox="2.845 2.887 26.917 31.081">
							<path fill="transparent" stroke="rgba(255,109,28,1)" stroke-width="0.4vw" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Polygon_23" d="M 2.844559907913208 10.65699577331543 L 16.30296897888184 2.886750221252441 L 29.7613353729248 10.65699577331543 L 29.7613353729248 26.1973819732666 L 16.30296897888184 33.96767807006836 L 2.844559907913208 26.1973819732666 L 2.844559907913208 10.65699577331543 Z">
							</path>
						</svg>
					</div>

				</div>
			</div>
			<div id="LeffTapCon">
				<svg class="Rectangle_18">
					<rect fill="rgba(40,40,40,1)" id="Rectangle_18" rx="1.55vw" ry="1.55vw" x="0" y="0" width="50.65vw" height="18.83vw">
					</rect>
				</svg>
				<div class="Rectangle_28">
					<div class="button-div">
						<button class="table-button" id="calc">
							<embed src="{{url_for('static', filename='Assets/Calc Button.svg')}}">
						</button>
						<embed class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
						<button class="table-button" id="save">
							<embed src="{{url_for('static', filename='Assets/Save.svg')}}">
						</button>
						<embed class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
						<button class="table-button" id="load">
							<embed src="{{url_for('static', filename='Assets/Load.svg')}}">
						</button>
						<embed class="strk" src="{{url_for('static', filename='Assets/Storked-Copy.svg')}}">
						<button class="table-button" id="clear">
							<embed src="{{url_for('static', filename='Assets/Clear.svg')}}">
						</button>
					</div>
				</div>

				<div id="Linearized_">
					<span>X-step = <input type="text" class="Rectangle_step" /> &nbsp; Y-step = <input type="text" class="Rectangle_step" /></span>
				</div>
				<div class="Rectangle_19">
					<div id="table">


						<span class="inChars">0 = </span>


						<input type="text" class="Rectangle_44" /> <span class="inChars">Uxx +</span>


						<input type="text" class="Rectangle_44" /> <span class="inChars">Uyy +</span>

						<br />


						<input type="text" class="Rectangle_44" />  <span class="inChars">Ux + </span>



						<input type="text" class="Rectangle_44" /> <span class="inChars">Uy + </span>

						<br />


						<input type="text" class="Rectangle_44" /> <span class="inChars">U + </span>

						<input type="text" class="Rectangle_44wide" />

					</div>
				</div>

				<div id="Table_">
					<span>Boundries ( if regular: x, y = const ):</span>
				</div>
				<div class="Rectangle_55">
					<table class="table">
						<thead>
							<tr>
								<th>Boundry Eq: f(x,y) = 0 =</th>
								<th>Xi</th>
								<th>Xf</th>
								<th>Yi</th>
								<th>Yf</th>
								<th>U(x,y)=</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="wide-slot"><input type="text" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td class="wide-slot"><input type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input type="text" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td class="wide-slot"><input type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input type="text" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td class="wide-slot"><input type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input type="text" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td class="wide-slot"><input type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input type="text" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td class="wide-slot"><input type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input type="text" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td class="wide-slot"><input type="text" /></td>
							</tr>
							<tr>
								<td class="wide-slot"><input type="text" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td class="wide-slot"><input type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input type="text" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td class="wide-slot"><input type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input type="text" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td class="wide-slot"><input type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input type="text" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td class="wide-slot"><input type="text" /></td>

							</tr>
							<tr>
								<td class="wide-slot"><input type="text" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td class="wide-slot"><input type="text" /></td>

							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td class="wide-slot"><input type="text" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td><input type="number" /></td>
								<td class="wide-slot"><input type="text" /></td>

							</tr>
						</tfoot>
					</table>


				</div>
			</div>
			<div id="AnswerTab">
				<svg class="Rectangle_6">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_6" rx="1.5vw" ry="1.5vw" x="0" y="0" width="7.1vw" height="4.56vw">
					</rect>
				</svg>
				<svg class="Rectangle_7">
					<rect fill="rgba(60,60,60,1)" id="Rectangle_7" rx="1.5vw" ry="1.5vw" x="0" y="0" width="26vw" height="35.5vw">
					</rect>
				</svg>
				<div id="Brackets">
					<svg class="Ellipse_4_bj">
						<radialGradient id="Ellipse_4_bj" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
							<stop offset="0" stop-color="#181818" stop-opacity="1"></stop>
							<stop offset="1" stop-color="#1b1b1b" stop-opacity="0"></stop>
						</radialGradient>
						<ellipse fill="url(#Ellipse_4_bj)" id="Ellipse_4_bj" rx="22.097700119018555" ry="23.29680061340332" cx="22.097700119018555" cy="23.29680061340332">
						</ellipse>
					</svg>
					<img id="PDE0045" src="{{url_for('static', filename='Assets/PDE0045.png')}}" >
				</div>
				<svg class="Path_9" viewBox="127.353 288 21.741 23.895">
					<path fill="rgba(60,60,60,1)" id="Path_9" d="M 149.094482421875 288 C 136.7897644042969 288.0395812988281 127.0997924804688 295.8175354003906 127.358024597168 308.8985900878906 C 127.6162490844727 321.9796142578125 127.358024597168 288 127.358024597168 288 L 149.094482421875 288 Z">
					</path>
				</svg>
				<svg class="Rectangle_57">
					<rect fill="rgba(40,40,40,1)" id="Rectangle_57" rx="1.5vw" ry="1.5vw" x="0" y="0" width="23.63vw" height="16.21vw">
					</rect>
				</svg>
				<svg class="Rectangle_58">
					<rect fill="rgba(40,40,40,1)" id="Rectangle_58" rx="1.5vw" ry="1.5vw" x="0" y="0" width="23.63vw" height="15.5vw">
					</rect>
				</svg>
				<section id="plot">
					<div id="myFunction" class="Rectangle_8"></div>
				</section>
			</div>
		</div>
	</main>

	<script src="{{url_for('static', filename='js/PDE.js')}}" charset="utf-8"></script>
{% endblock content %}
